.ios,
.md {
    page-user-reviews {
        ion-icon.rating {
            color: #ffd000;
        }
        img {
            height: 22px;
            width: 22px;
        }
        div.item-inner {
            margin-left: 24px;
        }
    }
}