.ios,
.md {
    page-user-reviews {
        ion-icon.rating {
            color: #FFCD18;
        }
        img {
            height: 22px;
            width: 22px;
        }
        div.item-inner {
            margin-left: 24px;
        }
        ion-title {
            //text-align: right;
            //color: map-get($colors, primary);
        }
        #arrowBack {
            //color: map-get($colors, primary);
        }
    }
}