<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-round-back" id="arrowBack"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Le mie recensioni</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item *ngIf="reviews.length == 0">
    <h2>Non hai ancora scritto nessuna recensione!</h2>
  </ion-item>
  <ion-item *ngFor="let review of reviews">
    <ion-icon *ngIf="isBikeIcon(review); else imgIcon" name="bicycle" item-start></ion-icon>
    <ng-template #imgIcon>
      <img [src]="getImageSrc(review)" item-start>
    </ng-template>
    <h2 text-wrap>{{review.placeName}}</h2>
    <ion-icon class="rating" [name]="getStarName(1, review)"></ion-icon>
    <ion-icon class="rating" [name]="getStarName(2, review)"></ion-icon>
    <ion-icon class="rating" [name]="getStarName(3, review)"></ion-icon>
    <ion-icon class="rating" [name]="getStarName(4, review)"></ion-icon>
    <ion-icon class="rating" [name]="getStarName(5, review)"></ion-icon>
    <p text-wrap>{{review.review}}</p>
    <ion-icon name="trash" item-end (click)="dataProvider.deleteReview(review)"></ion-icon>
  </ion-item>
</ion-content>