<div [ngSwitch]="(statusProvider.placeSelected | async) == undefined">
    <ion-list *ngSwitchCase="true">
        <ion-item *ngFor="let id of keys" (click)="statusProvider.placeSelected.next(id)">
            <ion-thumbnail item-start>
                <img [src]="details[id].img">
            </ion-thumbnail>
            <h2>{{details[id].name}}</h2>
            <p class="altitude">Altitudine: {{details[id].height}}</p>
        </ion-item>
    </ion-list>
    <ski-details *ngSwitchCase="false"></ski-details>
</div>