<ion-item>
  <ion-grid>
      <ion-row id="buttons">
          <ion-col *ngIf="navigator" text-center (click)="startNavigator()">
              <ion-icon name='navigate' color="primary"></ion-icon>
              <span class="item-block">Indicazioni</span>
          </ion-col>
          <ion-col *ngIf="call" text-center (click)="startCall()">
              <ion-icon name='call' color="secondary"></ion-icon>
              <span class="item-block" id="call">Chiama</span>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-item>