.ios,
.md {
    activity-button-panel {
        .item-block {
            text-align: center;
            display: block;
        }
        span#call, span#nav, span#review {
            font-weight: bold;
            font-size: 2rem;
        }
        span#call {
            color: map-get($colors, secondary);
        }
        span#review{
            color: rgb(119, 39, 5);
        }
        span#nav {
            color: map-get($colors, primary);
        }
        ion-icon {
            font-size: 1.8em !important;
        }
        #clipboard {
            color: rgb(119, 39, 5);
        }
    }
}