.ios,
.md {
    activity-button-panel {
        .item-block {
            text-align: center;
            display: block;
        }
        span#call {
            color: map-get($colors, secondary);
            font-weight: bold;
            font-size: 2rem;
        }
        span#nav {
            color: map-get($colors, primary);
            font-weight: bold;
            font-size: 2rem;
        }
        ion-icon {
            font-size: 1.8em;
        }
    }
}