<ion-item>
    <ion-grid>
        <ion-row id="buttons">
            <ion-col *ngIf="navigator" text-center (click)="startNavigator()">
                <ion-icon name='navigate' color="primary"></ion-icon>
                <span class="item-block" id="nav">Indicazioni</span>
            </ion-col>
            <ion-col *ngIf="call" text-center (click)="startCall()">
                <ion-icon name='call' color="secondary"></ion-icon>
                <span class="item-block" id="call">Chiama</span>
            </ion-col>
            <ion-col *ngIf="review && authProvider.loggedIn" text-center (click)="writeReview()">
                <ion-icon name='book' color="primary"></ion-icon>
                <span class="item-block" id="review">Scrivi recensione</span>
            </ion-col>
            <ion-col *ngIf="authProvider.loggedIn" text-center (click)="dataProvider.changeFavourite()">
                <ion-icon [name]="favIcon" color="primary"></ion-icon>
                <span class="item-block" id="favourite" *ngIf="!isFavourite; else remove">Aggiungi ai preferiti</span>
                <ng-template #remove>
                    <span class="item-block" id="favourite">Rimuovi dai preferiti</span>
                </ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>