.ios,
.md {
    side-menu {
        #menu-material {
            .menu-header {
                //padding: 5px 15px;
                padding: 20px 40px;
                background-color: map-get($colors, primary);
                background-size: cover;
                color: white;
                .name {
                    //font-weight: 500;
                    font-weight: 600;
                    margin-bottom: 3px;
                }
                .e-mail {
                    margin-top: 0;
                    margin-bottom: 5px;
                }
            }
            .user-avatar {
                padding: .5em;
                height: 12vh;
                border-radius: 100px;
            }
            h3,
            .label,
            {
                font-weight: 400;
            }
            #sun {
                color: rgb(255, 166, 0);
                font-size: 1.5em;
            }
            #activity {
                color: rgb(59, 168, 1);
                font-size: 1.1em;
            }
            #mapStyle {
                color: rgba(202, 202, 15, 0.966);
                font-size: 1.5em;
            }
            #reviews {
                color: rgb(119, 39, 5);
                font-size: 1.4em;
            }
            #logout {
                color: map-get($colors, primary);
                font-size: 1.6em;
            }
            #heart {
                font-size: 1.4em;
            }
            #funnel {
                font-size: 1.3em;
                color: grey;
            }
            #login {
                display: flex;
                #loginButton {
                    text-align: center;
                    button:focus {
                        outline: none;
                    }
                    #loginImage {
                        height: 28px;
                        width: 28px;
                    }
                    p {
                        font-size: 1.1em;
                        color: map-get($colors, primary);
                    }
                }
            }
            ion-list {
                ion-radio {
                    button:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}