<ion-menu [content]="content" id="menu-material">
  <ion-content>
    <div class="menu-header">
      <img class="user-avatar round" src="assets/images/bender-avatar.png" />
      <p class="name">Paula Bolliger</p>
      <p class="e-mail">pbolliger@email.com</p>
    </div>
    <ion-list>
      <button menuClose="left" ion-item detail-none (click)="seeSun()">
        <ion-icon name="sunny" id="sun" item-left></ion-icon>
        Sole
      </button>
      <button menuClose="left" ion-item detail-none (click)="seeActivities()">
        <ion-icon class="fas fa-list-ul" id="activity" item-left></ion-icon>
        Attività
      </button>
      <ion-footer>
        <button menuClose="left" ion-item detail-none>
          <ion-icon name="power" id="logout" item-left></ion-icon>
          Logout
        </button>
      </ion-footer>
    </ion-list>
  </ion-content>
</ion-menu>