.ios,
.md {
    bike-details {
        #titleDiv {
            h1 {
                text-align: center;
                margin-left: 12px;
                margin-right: 12px;
            }
            button:focus {
                outline: none;
            }
            button {
                padding-left: 0 !important;
                margin-left: 0;
                position: absolute;
                top: 20%;
                left: 15px;
                background: white !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }
            ion-icon {
                font-size: 2em;
            }
            div.input-wrapper {
                margin-left: 10px;
            }
        }
        ion-item#details {
            ion-grid {
                text-align: center;
                ion-row {
                    ion-col {
                        p {
                            color: #444;
                            font-size: medium;
                            margin-bottom: 3px;
                        }
                        span {
                            font-weight: bold;
                            font-size: 2rem;
                            color: map-get($colors, primary);
                        }
                    }
                }
            }
            button {
                p {
                    color: white;
                    font-size: 1em;
                    margin-left: 5px;
                }
                ion-icon {
                    font-size: 1.8em;
                }
            }
        }
        #recensioni {
            //color: map-get($colors, primary);
            font-size: 1.3em;
            text-align: center;
        }
    }
}