<ion-item>
  <div id="titleDiv">
    <button ion-button (click)="statusProvider.placeSelected.next(undefined)">
      <ion-icon name="arrow-round-back" color="primary"></ion-icon>
    </button>
    <h1 text-wrap>{{pathName}}</h1>
  </div>
</ion-item>
<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let detail of pathDetails">
        <!-- <ion-item>
            {{(detail.name | bikeDetails)}}
            <ion-badge>{{detail.value}}</ion-badge>
          </ion-item> -->
        <p>{{(detail.name | bikeDetails)}}</p>
        <span>{{detail.value}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <button ion-button block color="primary">
    <ion-icon name='navigate'></ion-icon>
    <p>Navigazione</p>
  </button> -->
</ion-item>
<ion-item>
  <ion-grid>
      <ion-row id="buttons">
          <ion-col text-center (click)="startNavigator()">
              <ion-icon name='navigate' color="primary"></ion-icon>
              <span class="item-block">Indicazioni</span>
          </ion-col>
          <!-- <ion-col text-center (click)="startCall()">
              <ion-icon name='call' color="secondary"></ion-icon>
              <span class="item-block" id="call">Chiama</span>
          </ion-col> -->
      </ion-row>
  </ion-grid>
</ion-item>
<ion-item>
  <p id="recensioni">Recensioni</p>
  <reviews></reviews>
</ion-item>