<!-- <ion-list>
  <ion-item *ngFor="let recensione of reviews">
    <div class="center">
      <ion-avatar>
        <img [src]="recensione.profile_photo_url">
      </ion-avatar>
    </div>
    <p class="name">{{recensione.author_name}}</p>
    <div class="rating">
      <div class="star-ratings-sprite">
        <span [style.width]="(100*recensione.rating/5) + '%'" class="star-ratings-sprite-rating"></span>
      </div>
    </div>
    <div class="title">
      <span text-wrap>{{recensione.title}}</span>
    </div>
    <span class="review" text-wrap>{{recensione.text}}</span>
    <div class="date">
      <p>{{recensione.relative_time_description}}</p>
    </div>
  </ion-item>
</ion-list> -->