.ios,
.md {
    reviews {
        ion-list {
            ion-item {
                div.center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                p.name {
                    text-align: center; //padding-bottom: 10px;
                    padding-top: 5px;
                    font-weight: bold;
                }
                div.date {
                    display: flex;
                    justify-content: flex-end;
                    p {
                        padding-top: 18px;
                    }
                }
                div.title {
                    padding-bottom: 15px;
                    span {
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
                div.rating {
                    text-align: center;
                    ion-icon {
                        color: #ffd000;
                    }
                    padding-bottom: 20px;
                    font-size: 1.1em;
                }
            }
        }
    }
}