<ion-list>
  <ion-item *ngFor="let review of reviews">
    <div class="center">
      <ion-avatar>
        <img [src]="review.pic">
      </ion-avatar>
    </div>
    <p class="name">{{review.name}} {{review.surname}}</p>
    <div class="rating">
      <div class="star-ratings-sprite">
        <span [style.width]="(100*review.rating/5) + '%'" class="star-ratings-sprite-rating"></span>
      </div>
    </div>
    <span class="review" text-wrap>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin velit lacus, facilisis eu justo in, vulputate varius urna.
      Morbi vitae ultricies erat, eu tristique nulla</span>
    <div class="date">
      <p>{{review.date}}</p>
    </div>
  </ion-item>
</ion-list>