.ios,
.md {
    page-home {
        ion-content {
            height: 100%;
            width: 100%;
        }
        autocomplete {
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            width: 95%;
            margin: auto;
            z-index: 10;
        }
        map {
            z-index: 5;
        }
        activity-list {
            position: absolute;
            width: 100%;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 20;
        }
        activity-fab {
            position: absolute;
            z-index: 25;
            top: calc(50vh - 100px);
            right: 2vw;
        }

        div.timeFab {
            position: absolute;
            z-index: 25;
            top: 50vh;
            right: 2vw;
            button:focus {
                outline: none;
            }
        }
        area-fab {
            position: absolute;
            z-index: 25;
            top: calc(50vh + 100px);
            right: 2vw;
            button:focus {
                outline: none;
            }
        }
    }
}