.ios, .md {
    page-home {
        #map {
            position: relative;
            height: 100%;
            margin-bottom: 5px;
        }
        p {
            position: absolute;
            top: 0;
            right: 0;
            margin: auto;
        }    
    }
}
