.ios,
.md {
    page-home {
        ion-content {
            height: 100%;
            width: 100%;
        }
        autocomplete {
            position: absolute;
            top: 10px;
            right: 0;
            left: 0;
            width: 95%;
            margin: auto;
            z-index: 10;
        }
        map {
            div#mapDiv {
                height: calc(100% - 15vh);
            }
            z-index: 5;
        }
        activity-list {
            position: absolute;
            width: 100%;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 20;
        }
        activity-fab {
            z-index: 25;
        }
    }
}