<ion-item>
    <div id="titleDiv">
        <button ion-button (click)="statusProvider.placeSelected.next(undefined)">
            <ion-icon name="arrow-round-back" color="primary"></ion-icon>
        </button>
        <h1 text-wrap>{{pisteName}}</h1>
        <p>Piste:
            <span>{{numPiste}}</span>
        </p>
    </div>
</ion-item>
<ion-item>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let detail of pisteDetails">
                <p>{{(detail.name | skiDetails)}}</p>
                <span [ngStyle]="{color: detail.color}">{{detail.value}}</span>
            </ion-col>
        </ion-row>
    </ion-grid>

    <button ion-button color="primary">
        <ion-icon name='navigate'></ion-icon>
        <p>Navigazione</p>
    </button>
    <button ion-button color="secondary">
        <ion-icon name='call'></ion-icon>
        <p>Chiama</p>
    </button>
</ion-item>
<ion-item>
    <p id="recensioni">Recensioni</p>
    <reviews></reviews>
</ion-item>