<div [ngSwitch]="(statusProvider.placeSelected | async) == undefined">
  <ion-list *ngSwitchCase="true">
    <ion-item *ngFor="let id of keys" (click)="statusProvider.placeSelected.next(id)">
      <h2>{{details[id].name}}</h2>
      <p [ngStyle]="{color: getColor(details[id].slope)}">Pendenza: {{details[id].slope}}</p>
    </ion-item>
    <ion-item id="noPlaces" *ngIf="keys.length == 0">
      <ion-icon class="info" name="information-circle"></ion-icon>
      Nessuna località trovata!
    </ion-item>
  </ion-list>
  <bike-details *ngSwitchCase="false"></bike-details>
</div>