<ion-fab right bottom #fab>
  <button ion-fab (click)="onFabClicked($event)">
    <ion-icon name="arrow-dropup"></ion-icon>
  </button>
  <ion-fab-list side="top">
    <!-- NEVE -->
    <ion-fab ion-fixed>
      <button ion-fab mini>
        <ion-icon name="snow"></ion-icon>
      </button>
      <ion-fab-list side="left">
        <ion-item no-lines>
          <!--<input type="range" min="1" max="100" value="50" name="range">
            <output for="range"></output>-->
          <ion-range [(ngModel)]="value" pin="true" min="50" max="200" (ionChange)="onRangeChanged($event)" (ionBlur)="onRangeBlur($event)"></ion-range>
        </ion-item>
      </ion-fab-list>
    </ion-fab>
    <button ion-fab mini>
    </button>
    <button ion-fab mini>
    </button>
    <button ion-fab mini>
    </button>
  </ion-fab-list>
</ion-fab>