.ios,
.md {
    activity-fab {
        ion-fab {
            button:focus {
                outline: none;
            }
            z-index: 25;
            ion-icon.fas.fa-list-ul {
                font-size: 1.3em;
            }
            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}