<ion-fab left bottom #fab id="main">
  <button ion-fab>
    <ion-icon name="arrow-dropup"></ion-icon>
  </button>
  <ion-fab-list side="top">
      <button ion-fab mini (click)="onActivitySelected($event, 0, fab)" [color]="(statusProvider.selectedActivity | async) == 0 ? 'primary': 'light'">
        <ion-icon name="sunny"></ion-icon>
      </button>
      <button ion-fab mini (click)="onActivitySelected($event, 1, fab)" [color]="(statusProvider.selectedActivity | async) == 1 ? 'primary': 'light'">
        <ion-icon name="snow"></ion-icon>
      </button>
      <button ion-fab mini (click)="onActivitySelected($event, 2, fab)" [color]="(statusProvider.selectedActivity | async) == 2 ? 'primary': 'light'">
        <ion-icon name="bicycle"></ion-icon>
      </button>
      <button ion-fab mini>
        <ion-icon name="speedometer"></ion-icon>
      </button>
  </ion-fab-list>
</ion-fab>